.main{
    width: 450px;
    height: 600px;
    background: gray;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.a{
    width: 100%;
    height: 50%;
    background: brown;
    display: flex;
}
.a1{
    width: 50%;
    align-items: stretch;
    border: 3px solid white;
}
.b{
    width: 100%;
    height: 25%;
    background: yellow;
    border: 3px solid white;

}
.c {
    width: 100%;
    height: 25%;
    justify-content: space-between;
    display: flex;

}
.c1{
    background: gray;
    width: 32%;
    height: 100%;
    border: 3px solid white;
}