.main{
    width: 450px;
    height: 600px;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: start;
    text-align: center;
}
.widgets{
    background: chartreuse;
    width: 500px;
    height: 25%;
}
.bigwidgets{

    width: 500px;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 5px;
}
.bigwidgets1{
    background: blue;
    width: 140px;
    height: 150px;
    row-gap: 10px;
}
.contact{
    background: blueviolet;
    width: 500px;
    height: 50%;
}
