@media screen and (max-width: 400px) {

    .header__top {
        padding: 0 10px
    }

    .header__contacts {
        padding: 10px 10px 0 10px
    }
.header_contacts_logo{
    width: 135px;
    height: 47px;
}
.header_contacts_whatsapp{
    width: 122px;
    height: 12px;
}
.header_contacts_phone, .header_contacts_phone{
    width: 110px;
    height: 30px;
}
.header__footer{
    padding: 10px 10px 0 10px;
}
.header__footer .input-group{
    max-height: 40px;
    width: 100%
}

.main__top{
    padding: 10px 10px ;
}
.main__top_promo{
    margin-left: 0;
    overflow: hidden;
}

.main_top_promo_up, .main_top_promo_down{
    padding: 5px 5px 5px 0 ;
}
.main_top_promo_up img, .main_top_promo_down img{
    width: 250px;
    height: 145px;
}
.main__nav_mob{
    padding: 0 10px;
}


}
