* {
    padding: 0;
    margin: 0;
}

.header {
    max-width: 1920px;
}

.size {
    max-width: 100%;
    padding: 0 280px;
}

.header__top {
    background-color: #0F2438;
}

.header__top_location a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

}

.header__top_dropdown {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

}

.header__contacts {
    max-width: 100%;
    padding: 30px 280px;
    background: #FFFFFF;
}

.header__top .btn-primary {
    color: #fff;
    background-color: #0F2438;
    border-color: #0F2438;
}

.header__footer {
    width: 100%;
    padding: 25px 280px;
    background: #FFFFFF;
}

.header__footer .input-group {
    height: 60px;
    padding: 0 0 0 30px;
    width: 650px
}

.header__footer_account {
    padding-left: 150px;
}

.main__top_promo {
    margin-left: 20px;
}
.main_top_promo_up, .main_top_promo_down{
    padding: 5px 0;
}







