@media screen and (max-width: 540px) {
    .soc-icon {
        justify-content: center;
    }
.wrapper{
    flex-direction: column;
}
    .header__top_grid {
        align-items: center;
    }
    .products{
        padding: 20px;
    }
    .products__list{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

    }
    .products__item{
        width: 40%;
        column-gap: 10px;
    }

.about__grid{
    align-items: center;
}
.info__list_wrap{
    flex-direction: column;
    align-items: center;
}
.info__list{
    width: 80%;
}


}